/* Starting the styles reset. */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text-main);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

img,
video {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

/* Ending the styles reset. */

/* Starting the general style */

:root {
  --main-color: #ffffff;
  --secondary-color: #DAE0E6;
  --third-color: #222222;
  --forth-color: #1D2535;
  --identity-color: #F14C26;
}

html {
  line-height: 16px;
}

body {
  width: 100%;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

/* Ending the general style */

/* Starting the style for the mobile versions */

.header {
  width: 100%;
  height: 48px;
  background-color: var(--forth-color);
  position: fixed;
  padding: 5px 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .logo .reddit-icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  font-size: 2.5rem;
  color: var(--identity-color);
  background-color: var(--main-color);
  margin-right: 5px;
}

.header .logo .reddit-text {
  color: var(--main-color);
  position: relative;
}

.header .logo .reddit-text .reddit-dot {
  width: 6px;
  height: 6px;
  background-color: var(--identity-color);
  border-radius: 50%;
  position: absolute;
  left: 3.3rem;
  top: 1px;
  z-index: 3;
}

.header .header-mobile {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logged-in .header-mobile {
  width: 20%;
}

.header .header-mobile .use-app {
  width: 4.2rem;
  height: 1.5rem;
  background-color: var(--identity-color);
  color: var(--main-color);
  font-size: small;
  font-weight: 600;
  border: none;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 2rem;
}

.logged-in .header-mobile .use-app {
  display: none;
}

.header .header-mobile .edit-icon,
.header .header-mobile .close-icon ,
.header .header-mobile .burger-menu-icon {
  color: var(--main-color);
  font-size: x-large;
}

.header .header-mobile .edit-icon {
  display: none;
}

.logged-in .header-mobile .edit-icon {
  display: block;
}

.header .header-mobile .close-icon {
  color: #a5a4a4;
  font-size: xx-large;
  display: none;
}

.header .post-options {
  width: 100%;
  height: 15vh;
  background-color: var(--main-color);
  border-top: 1px solid #efefed;
  position: absolute;
  left: 0;
  top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  display: none;
}

.header .post-options .text,
.header .post-options .link {
  width: 30%;
  height: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header .post-options .text .text-icon,
.header .post-options .link .link-icon {
  width: 60px;
  font-size: 60px;
  color: #24a0ed;
}

.header .post-options .text .inner-text,
.header .post-options .link .inner-text {
  color: #a5a4a4;
  font-size: small;
  font-weight: 300;
}

.header .mobile-side-menu {
  width: 100%;
  height: 40vh;
  background-color: var(--forth-color);
  color: var(--main-color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: none;
}

.header .mobile-side-menu .head {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.logged-in .mobile-side-menu .head {
  margin-bottom: 0.2rem;
}

.header .mobile-side-menu .head .logo .reddit-text .reddit-dot {
  width: 4px;
  height: 4px;
  left: 2.2rem;
}

.header .mobile-side-menu .head .close-icon {
  color: #a5a4a4;
  font-size: xx-large;
}

.header .mobile-side-menu .search-box {
  display: block;
  width: 100%;
  height: 3vh;
  position: relative;
  margin-bottom: 2rem;
}

.logged-in .mobile-side-menu .search-box {
  margin-bottom: 0.3rem;
}

.header .mobile-side-menu .search-box .search-icon {
  position: absolute;
  left: 10px;
  top: 0.9vh;
  z-index: 5;
}

.header .mobile-side-menu .search-box .search {
  width: 100%;
  height: 4vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  padding-left: 2rem;
  background-color: rgba(246,247,248,.1);
  border: none;
  border-radius: 1rem;
}

.header .autocomplete {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  overflow-y: auto;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  top: 30px;
  z-index: 20;
  color: var(--third-color);
  display: none;
}

.header .autocomplete .option {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: 1px solid #7C8082;
  margin-bottom: 01rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
}

.header .autocomplete .option .full-name {
  font-weight: 600;
}
.header .autocomplete .option .inner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
  font-size: small;
  font-weight: 600;
}

.header .mobile-side-menu .search-box .search:focus {
  outline: none;
  border: none;
}

.header .mobile-side-menu .search-box .close-icon {
  position: absolute;
  right: 10px;
  top: 0.5vh;
  z-index: 5;
  background-color: #a5a4a4;
  border-radius: 50%;
  display: none;
}

.header .mobile-side-menu .user {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  display: none;
}

.logged-in .mobile-side-menu .user {
  display: flex;
  margin-bottom: 3rem;
}

.header .mobile-side-menu .user img {
  width: 32px;
  height: 32px;
  background-color: var(--main-color);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.header .mobile-side-menu .user .username {
  font-weight: 700;
  font-size: large;
}


.header .mobile-side-menu .auth {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .mobile-side-menu .auth .login,
.header .mobile-side-menu .auth .signup {
  display: block;
  width: 80%;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #24a0ed;
  color: var(--main-color);
  border: none;
  cursor: pointer;
}

.header .mobile-side-menu .auth .login {
  margin-bottom: 1rem;
  background-color: var(--main-color);
  border: 1px solid #24a0ed;
  color: #24a0ed;
}

.logged-in .mobile-side-menu .auth {
  display: none;
}

.header .mobile-side-menu .logout {
  display: none;
}

.logged-in .mobile-side-menu .logout {
  display: block;
  width: 80%;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #24a0ed;
  border: none;
  cursor: pointer;
  align-self: center;
  border-radius: 1rem;
}

.header .header-navigator {
  display: none;
}

.header .search-box {
  display: none;
}

.header .auth {
  display: none;
}

.header .icons {
  display: none;
}

.header .shop-avatars {
  display: none;
}

.header .account-nav {
  display: none;
}

.container .auth {
  width: 100%;
  height: 100vh;
}

.container .auth .inner-cont {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.container .auth .inner-cont .login-form {
  width: 60%;
  height: 60%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
}

.container .auth .inner-cont .login-form img {
  transform: rotate(90deg) translate(-3.4rem, -3.3rem);
    width: 128px;
    height: 235px;
}

.container .auth .inner-cont .login-form .login-section {
  width: 100%;
  padding: 1rem;
}

.container .auth .inner-cont .login-form .login-section .head {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  transform: translateY(-5rem);
}

.container .auth .inner-cont .login-form .login-section .head i {
  cursor: pointer;
}

.container .auth .inner-cont .login-form .agreement {
  font-size: small;
  transform: translateY(-4.5rem);
}

.container .auth .inner-cont .login-form .login-section form {
  width: 100%;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container .auth .inner-cont .login-form .login-section form input:not(:last-of-type) {
  width: 100%;
  height: 2rem;
  border: none;
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.container .auth .inner-cont .login-form .login-section form input:not(:last-of-type):hover,
.container .auth .inner-cont .login-form .login-section form input:not(:last-of-type):active {
  outline: 1px solid var(--third-color);
  border: none;
}

.container .auth .inner-cont .login-form .login-section form input:last-of-type {
  width: 80%;
  height: 2rem;
  background-color: #24a0ed;
  color: var(--main-color);
  font-size: medium;
  font-weight: 600;
  border: none;
  border-radius: 1.5rem;
}

.container .auth .inner-cont .login-form .login-section form input:not(:last-of-type)::placeholder {
  font-size: small;
}

/* Ending the style for the mobile versions */

/* Starting the style for the desktop versions */

@media only screen and (min-width: 569px) {
  .header {
    padding: 5px 1rem;
    background-color: var(--main-color);
    justify-content: flex-start;
  }

  .header .header-mobile {
    display: none;
  }

  .header .logo {
    width: 10%;
  }

  .header .logo .reddit-text {
    color: var(--third-color);
  }

  .header .header-navigator {
    width: 15%;
    height: 100%;
    padding: 0.2rem 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
  }

  .logged-in .header-navigator {
    display: flex;
  }

  .header .header-navigator:hover {
    cursor: pointer;
    border: 0.2px solid #a5a4a4;
  }

  .header .header-navigator .first-part {
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .search-box {
    display: block;
    width: 40%;
    height: 90%;
    position: relative;
    background-color: var(--third-color);
    margin-left: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 5px solid #DAE0E6;
  }

  .header .search-box .search-icon {
    position: absolute;
    left: 10px;
    top: 0.7vh;
    z-index: 5;
    padding-right: 1rem;
    cursor: pointer;
  }

  .header .search-box .search {
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: #e7e9ec;
  }

  ::placeholder {
    color: #585858;
  }

  .header .autocomplete {
    height: 20rem;
  }

  .header .search-box .close-icon {
    position: absolute;
    top: 0.5rem;
    right: 10px;
    color: #136394;
    font-size: x-large;
    cursor: pointer;
    display: none;
  }

  .header .icons {
    display: block;
    width: 15%;
    height: 100%;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
  }

  .logged-in .icons {
    display: flex;
  }

  .header .icons i {
    width: 32px;
    height: 32px;
    font-size: x-large;
    color: #404041;
    border: 1px solid #404041;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .header .shop-avatars {
    width: 7rem;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    background-image: linear-gradient(to right, #5450DA , #B556C0);
    color: var(--main-color);
    font-weight: 700;
    font-size: small;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    display: none;
  }

  .logged-in .shop-avatars {
    display: flex;
  }

  .header .account-nav {
    width: 12rem;
    margin-left: 1rem;
    display: block;
    align-self: flex-start;
    position: relative;
    display: none;
  }

  .logged-in .account-nav {
    display: flex;
  }

  .header .account-nav:hover {
    cursor: pointer;
    border: 0.2px solid #a5a4a4;
  }

  .header .account-nav .interface {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .account-nav .interface img {
    width: 32px;
    margin-right: 1rem;
  }

  .header .account-nav .interface .username {
    margin-right: 3rem;
  }

  .header .account-nav .menu {
    width: 15rem;
    position: absolute;
    right: -38px;
    top: 45px;
    background-color: var(--main-color);
    padding: 1rem;
    font-size: medium;
    font-weight: 600;
  }

  .header .account-nav .menu.hidden {
    display: none;
  }

  .header .account-nav .menu .my-stuff {
    width: 100%;
    height: 6.5rem;
    border-bottom: 1px solid #adadad;
    margin-bottom: 1rem;
  }

  .header .account-nav .menu .my-stuff .head {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #7C8082;
  }

  .header .account-nav .menu .my-stuff .head i {
    font-size: larger;
  }

  .header .account-nav .menu .my-stuff .online-status {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .account-nav .menu .my-stuff .online-status .bar {
    width: 2.5rem;
    height: 1.5rem;
    background-color: #ddd;
    padding: 0 0.1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header .account-nav .menu .my-stuff .online-status .bar .ball {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    border-radius: 50%;
  }

  .header .account-nav .menu .my-stuff .profile {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
  }

  .header .account-nav .menu .view-options {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #adadad;
  }

  .header .account-nav .menu .view-options .head {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #7C8082;
    margin-bottom: 0.5rem;
  }

  .header .account-nav .menu .view-options .theme {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .header .account-nav .menu .view-options .theme .bar {
    width: 2.5rem;
    height: 1.5rem;
    background-color: #ddd;
    padding: 0 0.1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header .account-nav .menu .view-options .theme .bar .ball {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    border-radius: 50%;
  }

  .header .auth {
    width: 40%;
    height: 100%;
    margin-left: 10rem;
    display: flex;
    align-items: center;
  }

  .header .auth .login,
  .header .auth .signup {
    display: block;
    width: 15rem;
    height: 2.2rem;
    font-weight: 700;
    background-color: #24a0ed;
    color: var(--main-color);
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    border-radius: 1rem;
    opacity: 0.9;
}

  .logged-in .auth {
    display: none;
  }

  .header .auth .login:hover,
  .header .auth .signup:hover {
    opacity: 1;
}

.header .auth .login {
  background-color: var(--main-color);
  border: 1px solid #24a0ed;
  color: #24a0ed;
}

.container .auth .inner-cont .login-form {
  flex-direction: row;  
}

.container .auth .inner-cont .login-form img {
  transform: rotate(0deg) translate(0rem, 0rem);
  width: 20%;
  height: 100%;
}

.container .auth .inner-cont .login-form .login-section {
  padding: 2rem;
}

.container .auth .inner-cont .login-form .login-section .head {
  transform: translateY(0rem);
  font-size: xx-large;
  margin-bottom: 2rem;
}

.container .auth .inner-cont .login-form .agreement {
  transform: translateY(0rem);
  font-size: larger;
  margin-bottom: 8rem;
}

.container .auth .inner-cont .login-form .login-section form {
  height: 12rem;
  align-items: flex-start;
}

.container .auth .inner-cont .login-form .login-section form input:not(:last-of-type) {
  width: 40%;
  height: 3rem;
  margin-bottom: 1.5rem;
}

.container .auth .inner-cont .login-form .login-section form input:last-of-type {
  width: 40%;
  height: 2.5rem;
  font-size: large;
}

  .logged-in .header-mobile .edit-icon,
  .header .header-mobile .burger-menu-icon {
    display: none;
  }
}

/* Ending the style for the desktop versions */
